@charset "UTF-8";

a {
	text-decoration:none !important;
}

/* Post게시물 출력 */

#createPostContainer {
   width: 80%;
    margin-left: 10%;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

#createPostContainer:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);   
    -o-transform:scale(1.03);
    transform:scale(1.03);
    z-index: 100 !important;
}

.imgSize {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.2s;
    -moz-transition:.2s;
    -ms-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
}

.imgSize:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);   
    -o-transform:scale(1.03);
    transform:scale(1.03);
    z-index: 100 !important;
}

#imgDisplay {
   width: 25%;
   height: 150px;
}

#imgDisplay img {
   max-width: 100%;
   max-height: 100%;
}

#imgDisplayUpdate {
   width: 25%;
   height: 150px;
}

#imgDisplayUpdate img {
   max-width: 100%;
   max-height: 100%;
}

.filebox {
   display: inline-block;
   float: right;
}

.filebox label {
   margin-top: 2%; 
   display: inline-block; 
   padding: .5em .75em; 
   color: rgb(247, 251, 247); 
   font-size: inherit; 
   line-height: normal; 
   vertical-align: middle; 
   background-color: rgb(92, 184, 92); 
   cursor: pointer; 
   border: 1px solid #ebebeb; 
   border-bottom-color: #e2e2e2; 
   border-radius: .25em; 
} 

.filebox input[type="file"] { /* 파일 필드 숨기기 */ 
   position: absolute; 
   width: 1px; 
   height: 1px; 
   padding: 0; 
   margin: -1px; 
   overflow: hidden; 
   clip:rect(0,0,0,0); 
   border: 0; 
}

.filebox label:hover {
   box-shadow: 0 0 0 20px rgba(0,0,0,0.2) inset;
}

.privacyBoundContainer {
   display: inline-block;
}

.privacyBoundContainer label {
   display: inline-block;
   font-size: 1.2em;
}

#privacyBound {
   display: inline-block;
   width: 200px;
}




/* post 게시물 출력  */
.panel {
    width: 78%;
    border: 1px solid rgb(7, 48, 110); 
    border-radius:0;
    transition: box-shadow 0.5s;
    margin-left: 11%;
    margin-top: 3%;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .4);
}

.panel-default > .panel-heading {
   background-image: none;
    background-color: rgb(77, 99, 111);
    color: white;
    padding: 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-body {
    border-bottom: 1px solid rgb(7, 48, 110);
    padding: 2% 0;
}

.panel-footer {
    background-color: #f5f7f8 !important;
    padding: 2% 0;
}

.panel-footer ul {
   list-style-type: none;
    padding: 0;
    margin: 0;
}

.panel-footer li {
   padding: 0.3em;
}

#postContentsContainer  {
   margin-bottom: 2%;
}

#postContentsContainer pre, .panel-footer{
   margin: 0 2%;
   font-size: 1.2em;
   font-weight: normal;
   font-family: inherit; 
}

.imgSize {
    float: left;
    max-width: 50%;
    height: auto;
}




/* 댓글, 답글*/
#inputComment-container {
   margin-top: 2%;
}

.postProfile {
   margin-right: 1%;
   max-width: 65px;
   height: 65px;
}

.commentProfile {
   max-width: 50px;
   height: 50px;
}

#inputCommentTxt {
   max-width: 85%;
   display: inline-block; 
}

.replyInput {
   margin-left: 10%;
}

.replyProfile {
   max-width: 50px;
   height: 50px;
}

.inputReplyTxt {
   max-width: 84%;
   display: inline-block;
}

.replyDisplay {
   margin-top: 0.5%;
   margin-left: 10%;
}




/* 좋아요 */
.like {
   color: #EE4035;
}

.like:hover {
   -webkit-transform:scale(1.5);
   -moz-transform:scale(1.5);
   -ms-transform:scale(1.5); 
   -o-transform:scale(1.5);  
   transform:scale(1.5);
   -webkit-transition:.2s;
   -moz-transition:.2s;
   -ms-transition:.2s;
   -o-transition:.2s;
   transition:.2s;
}

.likePostCount {
   color: gold;
   margin-bottom: 0;
   font-size: 1.5em;
   margin-left: -5px;
}


.likeCommentCount {
   color: gold;
   margin-bottom: 0;
   font-size: 0.8em;
   margin-left: -5px;
}








.tablefriendKeyword a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendKeyword a:visited {
   color: #666;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendKeyword a:active,
.tablefriendKeyword a:hover {
   color: #bd5a35;
   text-decoration:underline;
}


.tablefriendKeyword a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendKeyword a:visited {
   color: #999999;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendKeyword a:active,
.tablefriendKeyword a:hover {
   color: #bd5a35;
   text-decoration:underline;
}
.tablefriendKeyword {
   font-family:Arial, Helvetica, sans-serif;
   color:#666;
   font-size:12px;
   text-shadow: 1px 1px 0px #fff;
   background:#eaebec;
   margin:20px;
   border:#ccc 1px solid;

   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;

   -moz-box-shadow: 0 1px 2px #d1d1d1;
   -webkit-box-shadow: 0 1px 2px #d1d1d1;
   box-shadow: 0 1px 2px #d1d1d1;
}
.tablefriendKeyword th {
   padding:15px;
   border-top:1px solid #fafafa;
   border-bottom:1px solid #e0e0e0;

   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
   backg
  round: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tablefriendKeyword th:first-child{
   text-align: left;
   padding-left:20px;
}
.tablefriendKeyword tr:first-child th:first-child{
   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;
}
.tablefriendKeyword tr:first-child th:last-child{
   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;
}
.tablefriendKeyword tr{
   text-align: center;
   padding-left:20px;
}
.tablefriendKeyword tr td:first-child{
   text-align: left;
   padding-left:20px;
   border-left: 0;
}
.tablefriendKeyword tr td {
   padding:12px;
   border-top: 1px solid #ffffff;
   border-bottom:1px solid #e0e0e0;
   border-left: 1px solid #e0e0e0;
   
   background: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
   background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablefriendKeyword tr.even td{
   background: #f6f6f6;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
   background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablefriendKeyword tr:last-child td{
   border-bottom:0;
}
.tablefriendKeyword tr:last-child td:first-child{
   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;
}
.tablefriendKeyword tr:last-child td:last-child{
   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;
}
.tablefriendKeyword tr:hover td{
   background: #f2f2f2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
   background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);   
}
/*두번째  */
.tablefriendConcern a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendConcern a:visited {
   color: #666;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendConcern a:active,
.tablefriendConcern a:hover {
   color: #bd5a35;
   text-decoration:underline;
}


.tablefriendConcern a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendConcern a:visited {
   color: #999999;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendConcern a:active,
.tablefriendConcern a:hover {
   color: #bd5a35;
   text-decoration:underline;
}
.tablefriendConcern {
   font-family:Arial, Helvetica, sans-serif;
   color:#666;
   font-size:12px;
   text-shadow: 1px 1px 0px #fff;
   background:#eaebec;
   margin:20px;
   border:#ccc 1px solid;

   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;

   -moz-box-shadow: 0 1px 2px #d1d1d1;
   -webkit-box-shadow: 0 1px 2px #d1d1d1;
   box-shadow: 0 1px 2px #d1d1d1;
}
.tablefriendConcern th {
   padding:15px;
   border-top:1px solid #fafafa;
   border-bottom:1px solid #e0e0e0;

   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
   backg
  round: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tablefriendConcern th:first-child{
   text-align: left;
   padding-left:20px;
}
.tablefriendConcern tr:first-child th:first-child{
   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;
}
.tablefriendConcern tr:first-child th:last-child{
   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;
}
.tablefriendConcern tr{
   text-align: center;
   padding-left:20px;
}
.tablefriendConcern tr td:first-child{
   text-align: left;
   padding-left:20px;
   border-left: 0;
}
.tablefriendConcern tr td {
   padding:12px;
   border-top: 1px solid #ffffff;
   border-bottom:1px solid #e0e0e0;
   border-left: 1px solid #e0e0e0;
   
   background: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
   background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablefriendConcern tr.even td{
   background: #f6f6f6;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
   background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablefriendConcern tr:last-child td{
   border-bottom:0;
}
.tablefriendConcern tr:last-child td:first-child{
   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;
}
.tablefriendConcern tr:last-child td:last-child{
   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;
}
.tablefriendConcern tr:hover td{
   background: #f2f2f2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
   background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);   
}
/*친구 찾기 ========================================= */
/* #friend_add {

    opacity: 0.6;

    cursor: not-allowed;

} */
.tablefriendRecognize a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendRecognize a:visited {
   color: #666;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendRecognize a:active,
.tablefriendRecognize a:hover {
   color: #bd5a35;
   text-decoration:underline;
}


.tablefriendRecognize a:link {
   color: #666;
   font-weight: bold;
   text-decoration:none;
}
.tablefriendRecognize a:visited {
   color: #999999;
   font-weight:bold;
   text-decoration:none;
}
.tablefriendRecognize a:active,
.tablefriendRecognize a:hover {
   color: #bd5a35;
   text-decoration:underline;
}
.tablefriendRecognize {
   font-family:Arial, Helvetica, sans-serif;
   color:#666;
   font-size:12px;
   text-shadow: 1px 1px 0px #fff;
   background:#eaebec;
   margin:20px;
   border:#ccc 1px solid;

   -moz-border-radius:3px;
   -webkit-border-radius:3px;
   border-radius:3px;

   -moz-box-shadow: 0 1px 2px #d1d1d1;
   -webkit-box-shadow: 0 1px 2px #d1d1d1;
   box-shadow: 0 1px 2px #d1d1d1;
}
.tablefriendRecognize th {
   padding:15px;
   border-top:1px solid #fafafa;
   border-bottom:1px solid #e0e0e0;

   background: #ededed;
   background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
   backg
  round: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.tablefriendRecognize th:first-child{
   text-align: left;
   padding-left:20px;
}
.tablefriendRecognize tr:first-child th:first-child{
   -moz-border-radius-topleft:3px;
   -webkit-border-top-left-radius:3px;
   border-top-left-radius:3px;
}
.tablefriendRecognize tr:first-child th:last-child{
   -moz-border-radius-topright:3px;
   -webkit-border-top-right-radius:3px;
   border-top-right-radius:3px;
}
.tablefriendRecognize tr{
   text-align: center;
   padding-left:20px;
}
.tablefriendRecognize tr td:first-child{
   text-align: left;
   padding-left:20px;
   border-left: 0;
}
.tablefriendRecognize tr td {
   padding:12px;
   border-top: 1px solid #ffffff;
   border-bottom:1px solid #e0e0e0;
   border-left: 1px solid #e0e0e0;
   
   background: #fafafa;
   background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
   background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.tablefriendRecognize tr.even td{
   background: #f6f6f6;
   background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
   background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tablefriendRecognize tr:last-child td{
   border-bottom:0;
}
.tablefriendRecognize tr:last-child td:first-child{
   -moz-border-radius-bottomleft:3px;
   -webkit-border-bottom-left-radius:3px;
   border-bottom-left-radius:3px;
}
.tablefriendRecognize tr:last-child td:last-child{
   -moz-border-radius-bottomright:3px;
   -webkit-border-bottom-right-radius:3px;
   border-bottom-right-radius:3px;
}
.tablefriendRecognize tr:hover td{
   background: #f2f2f2;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
   background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);   
}
/* das */


.input1{
  display: block;
  margin:0%;
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  text-transform:uppercase;
  background-color :rgba(245, 247, 248, 1);
  border: 0px ;
  cursor:pointer;
  user-select: none;
} 



.input1{
  color: #878787;
  text-shadow:
	0px 0px 0px #878787,
	0px 0px 0px #878787,
	0px 0px 0px #878787,
	0px 0px 0px #878787,
	0px 1px 3px #878787
	;
}




.input1:active {
  color: #c0c0c0;
  text-shadow:
 	0px 1px 0px #808080,
	0px 2px 0px #c6c5bb,
	0px 3px 0px #353535,
	0px 4px 0px #252525,
	0px 5px 10px rgba(0, 0, 0, 0.6)
	;
	
}