<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="siteinfo">
	<update id="updateHeader" parameterType="pageinfo">
		update site_info set header_color=#{headerCol},logo_baground=#{logoBagCol},logo_font=#{logoFont},logo_fontsize=#{logoFontSize},icon_color=#{iconCol} where 1=1
	</update>
  	<update id="updateSide" parameterType="pageinfo">
		update site_info set profile_font=#{profileFont},menu_bcol=#{menuBcol},menu_fontcol=#{menuCol},menu_font=#{menuFont},dropdown_bcol=#{dropdownBcol} where 1=1
	</update>
	<update id="memberLock" parameterType="map">
		update member set block_date=sysdate+#{inputNo} where member_no=#{memberNo}
	</update>
	<update id="memberUnlock" parameterType="_int">
		update member set block_date=null where member_no=#{memberNo}
	</update>
	<update id="unlock">
		update member set block_date=null where block_date &lt; sysdate
	</update>
	<resultMap type="notify" id="notifyMap">
		<result column="notify_no" property="notifyNo"/>
		<result column="post_no" property="postNo"/>
		<result column="post_writer" property="postWriter"/>
		<result column="notify_writer" property="notifyWriter"/>
		<result column="notify_reason" property="notifyReason"/>
		<result column="notify_date" property="notifyDate"/>
	</resultMap>
   <resultMap type="post" id="postMap">  
      <result column="post_no" property="postNo"/>
      <result column="post_writer" property="postWriter"/>
      <result column="post_contents" property="postContents"/>
      <result column="privacy_bound" property="privacyBound"/>
      <result column="post_date" property="postDate"/>
   </resultMap>
      <resultMap type="attach" id="attachMap">
      <result column="attachment_no" property="attachmentNo"/>
      <result column="post_no" property="postNo"/>
      <result column="original_filename" property="originalFileName"/>
      <result column="renamed_filename" property="renamedFileName"/>
      <result column="upload_date" property="uploadDate"/>
   </resultMap>
	<select id="notifyList" resultMap="notifyMap">
		select * from notify order by notify_date desc
	</select>
	<select id="selectTotalCount" resultType="_int">
		select count(*) from notify
	</select>
	
	<!-- 용 -->
	<insert id="insertPostNotify" parameterType="notify">
		INSERT INTO NOTIFY(NOTIFY_NO, POST_NO, POST_WRITER, NOTIFY_WRITER, NOTIFY_REASON, NOTIFY_DATE, STATUS)
		VALUES(notify_seq.nextval, #{postNo}, #{postWriter}, #{notifyWriter}, #{notifyReason}, systimestamp, default)
	</insert>
	
	<select id="selectNotifyInfo" parameterType="_int" resultMap="notifyMap">
		select * from notify where notify_no=#{nNo}
	</select>
	<select id="selectPostInfo" parameterType="_int" resultMap="postMap">
		select * from post where post_no=#{pNo}
	</select>
	<select id="selectAttachInfo" parameterType="_int" resultMap="attachMap">
		select * from attachment where post_no=#{pNo}
	</select>
	<delete id="deletePost" parameterType="_int">
		delete from post where post_no=#{pNo}
	</delete>
	<update id="deleteNotify" parameterType="_int">
		update notify set status='게시물삭제' where notify_no=#{nNo}
	</update>
	<update id="rejectNotify" parameterType="_int">
		update notify set status='반려' where notify_no=#{nNo}
	</update>
</mapper>