<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member"> 
<resultMap type="member" id="memberMap">
   <!-- column은 데이터베이스명칭 priperty는 vo명칭 -->   
   <result column="member_email" property="memberEmail" />
   <result column="member_pw" property="memberPw" />
   <result column="member_name" property="memberName" />
   <result column="member_nickname" property="memberNickname" />
   <result column="member_phone" property="phone" />
   <result column="reg_date" property="reg_date" />
   <result column="member_pfp" property="memberPFP" />
   <result column="member_concern" property="memberConcern" typeHandler="strArr"/>
   <result column="member_gender" property="memberGender" />
   <result column="member_birth" property="memberBirthday" />
   <result column="addr1" property="addr1" />
   <result column="addr2" property="addr2" />
   <result column="addr3" property="addr3" />
   <result column="addinfo" property="addInfo"/>
   <result column="verify" property="verify"/>  
</resultMap>
   
   <select id="selectOne" resultMap="memberMap" parameterType="string">
       SELECT * FROM MEMBER WHERE USERID=#{userId}    
    </select> 

   <select id="selectLogin" resultMap="memberMap" parameterType="string">
      SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail}
   </select>
    
    <insert id="insertMember">
     INSERT INTO MEMBER VALUES(#{memberEmail},#{memberPw},#{memberName},#{memberNickname},#{phone},default,null,null,null,null,null,null,null,default,default)
      <!-- VO과 맞추면된다. #{approvalStatus},#{approvalKey},#{reg_date},#{log_data},#{memberPFP},#{memberConcern},#{memberGender},#{memberBirthday},#{addr1},#{addr2},#{addr3}-->
  </insert>
  
  <select id="memberList" resultMap="memberMap">
  	SELECT * FROM MEMBER
  </select>
  <select id="memberSelectOne" parameterType="string" resultType="string">
  	select member_email from member where member_email=#{userEmail}
  </select>
  <update id="memberVerify" parameterType="string">
  	update member set verify='Y', reg_date=sysdate where member_email = #{memberEmail}
  </update>
    <update id="addInfoUpdate" parameterType="member">
  	update member set member_pfp=#{memberPFP},member_concern=#{memberConcern,typeHandler=strArr},member_gender=#{memberGender},member_birth=#{memberBirthday},addr1=#{addr1},addr2=#{addr2},addr3=#{addr3},addinfo='Y' where member_email=#{memberEmail}
  </update>
  
  <!-- 한개의 값을 찾으려고 string으로, parameterType값을 alise값 -->
  <select id="emailSearch"  resultType="string" parameterType="member">
  		<!-- 한개의 값을 찾으려고 string으로, parameterType값을 alise값 -->
  		select member_email from member where member_name=#{memberName} and member_phone=#{phone}
  </select>

<!-- 패스워드 찾기- 메일로 전송 -->	
 <select id="selectPw" resultMap="memberMap" parameterType="string">
      SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail}
 </select>


<!-- 패스워드 변경 -메일 전송 후-->
<update id="pwUpdate"  parameterType="string" >
  	update member set member_pw=#{memberPw} where member_email = #{memberEmail}
</update>

<!-- 내정보 수정 -->
<update id="myInfoUpdate" parameterType="member">
	update member set 
	member_name=#{memberName}, member_nickname=#{memberNickname}
	,member_phone=#{phone}<!-- , member_gender=#{memberGender} -->
	,member_concern=#{memberConcern,typeHandler=strArr}
	,member_birth=#{memberBirthday}
	,addr1=#{addr1}, addr2=#{addr2}, addr3=#{addr3} 	
	where member_email=#{memberEmail} 
</update>  
    
 <!-- 내사진 수정 -->   
    <update id="myPFPupdate" parameterType="member">
  		update member set member_pfp=#{memberPFP} where member_email=#{memberEmail}
  </update>
    
</mapper>